<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="ProductDiscountEntities" connectionString="metadata=res://*/Model.ModelBase.csdl|res://*/Model.ModelBase.ssdl|res://*/Model.ModelBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZANGETSU\MSSQLSERVERKIRA;initial catalog=ProductDiscount;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>